body{
	background: url(https://wallpapercave.com/wp/wp2393329.jpg);
	background-size: cover;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border:1px solid rgb(1, 14, 1);
	}
