body{
    text-align: center;
    background: url(https://content3.jdmagicbox.com/comp/chennai/d5/044pxx44.xx44.170913142301.s2d5/catalogue/chennai-taxi-arrow-cabs-india-pvt-ltd-ayanavaram-chennai-taxi-services-0cjguskdek.jpg);
    background-size:cover;
}
