@charset "ISO-8859-1";

body{
	background : url(https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-repeat: no-repeat;
	object-fit:cover;
	
}
 h1{
	color:white;


}

form{
	margin: auto;
	margin-top:10%;
	border: 5px solid white;
	border-radius: 20px;
	text-align: center;
   width:30%;
   background : url(https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
   background-size:cover;
}
 .wrong label{

	color:red;
	 text-align: center;
	visibility: hidden;}
input{
margin:5%;
}	
button{
	margin-bottom: 5%;
}

button:hover{
	background-color: blue;
}



