@charset "ISO-8859-1";

.table h1{
	color:blue;
	background:orange;
	text-align:center;
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
}
.table label{
	color:#e61022;
	 text-align: center;
	 margin:0 auto;
	 width:150px;
	
}
.table form{
	 text-align: center;
	 margin:0 auto;
	 width:150
}

