*{
    margin: 0;
    padding: 0;
}
h1{
   color: black;
background-color:yellow;
 text-align: center;
 margin-bottom: 30px;
}
table{
margin:0 auto;
height: 200px;
width: 380px;
text-align:center;
   
}
button{
    margin:10% 30% 30% 50%;
    height:30px;
    width:70px;
 
}
form{
    background :url(https://image.freepik.com/free-vector/taxi-service-public-transport_24908-28295.jpg);
       background-size:cover;
	
}





