*{
    margin: 0;
    padding: 0;
}
h2{
    background-color: black;

    color: white;
   
    text-align: center;
   
}
label{
    width: 10px;
  height: 10px;
 

}
body{
    margin: 10% 30% 2% 30%;
    border: 10px solid brown;
    border-radius: 30px;
    background:url(https://thumbs.gfycat.com/CharmingTenderAtlasmoth-size_restricted.gif);
    background-size: 100%;
}
